/* Donations FAQ */

.donation-question {
  text-decoration: underline;
  text-decoration-color: #eac65a;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
  text-align: left;
}

.donation-answer {
  text-align: left;
  white-space: pre-line;
}


/* Contact Us Form - BEGIN */
.form-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.form-content {
  flex: 1 1 calc(50% - 20px);
  background: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .form-content {
    flex: 1 1 100%;
  }
}

.form-content h4 {
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

textarea.form-control {
  resize: none;
}

.checkbox-group {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.form-checkbox {
  margin-top: 5px;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.form-info {
  flex: 1;
  max-width: 400px;
}

.form-info a {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Contact Us Form - END */

.abim-badge {
  background-image: url("https://portal.abim.org/Resources/images/badge-2.png");
}